@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@screen sm {
  .maingrid {
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}

@screen lg {
  .maingrid {
    grid-column-gap: 6rem;
  }
}

.subgrid {
  grid-template-areas: "left right";
  grid-template-columns: 2fr 3fr;
  grid-column-gap: 1rem;
}

.subheading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  @apply text-blue-500;
}

.subheading:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
}

a {
  font-weight: 500;
}

a:hover {
  @apply text-blue-500;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
